html {
    font-family: 'Oxygen','Open Sans','Helvetica Neue',Arial, SunSans-Regular, sans-serif;
}
/* Colors:
 * Dark Yellow:
 * Red:
 * Purple: 
 * Beige: 
 */
.mobile-hide {
    display:none;
}
.mobile-show {
    display:block;
}

/* General Styles */
.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;   
}

/* Nav */
.home-logo {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(180deg, #d12229, #9C191C);
    padding: 7px 0px 7px 0px;
    background-color: #d12229; /* fallback color if gradients are not supported */
    border-radius: 2px;
}
.home-logo img {
    width: 40%;
}
.nav a {
    color: #3b0233;
    text-decoration: none;
}
.nav a:hover {
    box-shadow: inset 0px 0px 8px 5px #AE45A5;
    cursor: pointer;
}
.nav a:active {
    box-shadow: inset 0 0 8px 3px black;
}
.nav a {
    display: inline-block;
    width: 38%;
    padding: 15px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    border-radius: 2px;
    background-color: #8b3782;
    background-image: linear-gradient(180deg, #8b3782, #712a67);
    box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px 0px;
    color: #3b0233;
    font-weight: bold;
    font-size: 1.1em;
}
.nav a:nth-child(even) {
    float: right;
}
.nav a:nth-child(odd) {
    float: left;
}

/* Page Content */
.mobile-content {
    background-color: #e4b694;
    width: 100%;
    margin: 90px 0px 0px 0px;
    padding: 7px;
}
.headline {
    width: 36%;
    float: left;
    font-size: 1.3em;
}
.plonk {
    width: 50%;
}
table.info {
    margin-right: auto;
    margin-left: auto;
}
.info tr {
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.info tr td {
    padding: 0px 10px 10px 0px;   
}
.info tr td:first-child {
    text-align: center;
    width: 20%;
}
.info i {
    text-decoration: none;
    font-size: 1.3em;
}
/* Footer */
.footer {
    text-align: center;
    color: #8A6720;
    font-size: 85%;
}